@model IEnumerable<GerenciamentoIdentidadeCore2.Models.Perfil.IPerfil>

@{
    ViewData["Title"] = "Perfil";
}
<body class="card-body">
    <h1>Perfil</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>s
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CodPerfil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomePerfil)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodPerfil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomePerfil)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
